{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #252432;
    display: flex;
}

@property --a{
    inherits: false;
    syntax: '<angle>';
    initial-value: 0deg;
}

.box{
    height: 200px;
    width: 400px;
    background: repeating-conic-gradient(from var(--a), #ff2778 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    filter: drop-shadow(0 15px 50px #000);
    animation:  roatating 4s linear infinite;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    position: relative;
    display: flex;
}

.box:hover{
    height: 500px;
    width: 450px;
}

@keyframes roatating {
    0%{
        --a: 0deg;
    }
    100%{
        --a: 360deg;
    }
}

.box::before{
    content: '';
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #4
